/* custom styles here */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');
/* Navigation */

.logo {
    margin-bottom: -90px;
}

.nav-background {
    background-color: #000;
}

nav {
    font-size: 18pt;
}

nav ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
    text-transform: uppercase;
    align-items: center;
}

nav ul li {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}

nav ul li img {
    background-color: black;
    border-radius: 180px;
    padding: 20px;
}

/* /Navigation */

/* Mobile Navigation */

.topnav {
    overflow: hidden;
    background-color: #000;
    position: relative;
    text-align: center;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Mobile Navigation */

/* Landing area */

.landing-background {
    background-image: url(../assets/main.jpg);
    padding-top: 250px;
    margin-left: -20px;
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

.frame {
    background-image: url(../assets/frame-desktop.png);
    background-repeat: no-repeat;
    padding-top: 30px;
    height: 300px;
    width: 100%;
    margin: auto;
    background-position: center;
}

.header-text {
    margin-top: 60px;
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-weight: bold;
    font-size: 50pt;
}

.small-knives-container {
    margin: 0 0 0 0;
    text-align: center;
}

.small-knives {
    text-align: center;
    margin-bottom: -50px;
    width: 100px;
    height: 120px;
}

.scroll-down {
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    margin-top: 150px;
}

.arrow-icon {
    text-align: center;
    margin-top: 20px;
    height: 80px
}

.arrow-icon-container {
    text-align: center;
}

/* ABOUT US SECTION */

.yellow-container {
    background-image: url(../assets/yelllow.png);
    height: 800px;
    width: 100%;
}

.about-text-container {
    text-align: center;
    margin: auto;
    background-repeat: no-repeat;
    width: 90%;
    height: 400px;
}

.about-header {
    padding-top: 70px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    color: #fff;
    font-size: 36pt;
}

.about-text {
    padding-top: 70px;
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-size: 20pt;
}

.twitter-container {
    text-align: center;
    width: 100%;
}

.twitter-img {
    margin-top: 150px;
    background-repeat: no-repeat;
    height: 100px;
}

.twitter-quote-container {
    background-color: rgba(233, 206, 77, 0.7);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}

.twitter-user {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 16pt;
    color: #ffffff;
}

.twitter-quote {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 12pt;
    color: #ffffff;
}

.twitter-time-posted {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 12pt;
    color: #ffffff;
}

.fa-quote-left {
    font-size: 40px;
    padding-right: 10px;
}

.fa-quote-right {
    font-size: 40px;
    padding-left: 10px;
}

/* Image Section */

.image-background {
    min-height: 100%;
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/image3.jpg);
}

/* Blacboard Section */

.blackboard-container {
    background-image: url(../assets/blackboard.jpg);
    min-height: 100%;
    height: 1000px;
    background-size: cover;
    background-position: center center;
}

.cheeseboard-header {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-size: 30pt;
    padding-top: 4%;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

.blackboard-text {
    margin: auto;
    margin-top: 70px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20pt;
    font-family: 'Josefin Slab', serif;
    width: 80%;
}

.cheeses-table {
    justify-content: space-around;
    display: flex;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    height: 400px;
    border: 6px solid rgba(255, 255, 255, 0.644);
}

.cheeses-list-left {
    margin-top: 40px;
    line-height: 30px;
    color: #fff;
    font-size: 18pt;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

.cheese-list-right {
    margin-top: 40px;
    line-height: 30px;
    color: #fff;
    font-size: 18pt;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

.vertical_dotted_line {
    border-left: 4px dotted #fff;
    height: 80%;
    margin-top: 40px;
}

/* contact-section */

.contact-background {
    background-image: url(../assets/contact-background.png);
    min-height: 100%;
    height: 1000px;
    background-size: cover;
    background-position: center center;
}

.contact-text {
    margin-top: -30px;
    padding-top: 60px;
    text-align: center;
    font-size: 40pt;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

.contact-info {
    margin-top: 30px;
    text-align: center;
    font-size: 18pt;
    font-family: 'Josefin Slab', serif;
}

/* media queries */

@media all and (max-width: 480px) {
    .logo {
        display: none;
    }
    .nav-background {
        display: none;
    }
    nav {
        display: none;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        display: none;
    }
    nav ul li img {
        display: none;
    }
    .frame {
        background-image: url(../assets/frame.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        width: 100%;
        background-position: center;
    }
    .landing-background {
        background-image: url(../assets/main.jpg);
        height: 800px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
    }
    .header-text {
        padding-top: 60px;
        font-family: 'Josefin Slab', serif;
        color: #fff;
        font-weight: bold;
        font-size: 20pt;
    }
    .small-knives {
        text-align: center;
        margin-bottom: -130px;
        width: 40px;
        height: 80px;
    }
    .about-text {
        padding-top: 70px;
        font-family: 'Josefin Slab', serif;
        color: #fff;
        font-size: 14pt;
    }
    .cheeseboard-header {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        font-size: 15pt;
        padding-top: 8%;
    }
    .blackboard-text {
        font-size: 14pt;
        line-height: normal;
        margin-top: 30px;
    }
    .cheeses-table {
        width: 80%;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        height: 500px;
        border: 3px solid rgba(255, 255, 255, 0.74);
    }
    .cheeses-list-left {
        margin-top: 40px;
        line-height: 30px;
        color: #fff;
        font-size: 10pt;
        text-align: center;
        font-family: 'Josefin Slab', serif;
    }
    .cheese-list-right {
        margin-top: 40px;
        line-height: 30px;
        color: #fff;
        font-size: 10pt;
        text-align: center;
        font-family: 'Josefin Slab', serif;
    }
    .contact-text {
        margin-top: -130px;
        font-size: 20pt;
    }
    .contact-info {
        font-size: 12pt;
    }
}

@media all and (min-width: 768px) {
    .topnav {
        display: none;
    }
    .topnav #myLinks {
        display: none;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        display: none;
    }
    .topnav a:hover {
        display: none;
    }
    .active {
        display: none;
    }
    .icon {
        display: none;
    }
    .mobile-logo {
        display: none;
    }
}

@media all and (min-width: 992px) {
    .topnav {
        display: none;
    }
    .topnav #myLinks {
        display: none;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        display: none;
    }
    .topnav a:hover {
        display: none;
    }
    .active {
        display: none;
    }
    .icon {
        display: none;
    }
    .mobile-logo {
        display: none;
    }
}