/* custom styles here */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');
/* Navigation */

.logo {
    margin-bottom: -90px;
}

.nav-background {
    background-color: #000;
}

nav {
    font-size: 18pt;
}

nav ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
    text-transform: uppercase;
    align-items: center;
}

nav ul li {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}

nav ul li img {
    background-color: black;
    border-radius: 180px;
    padding: 20px;
}

/* /Navigation */

/* Mobile Navigation */

.topnav {
    overflow: hidden;
    background-color: #000;
    position: relative;
    text-align: center;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Mobile Navigation */

/* Landing area */

.landing-background {
    background-image: url(../assets/main.jpg);
    padding-top: 250px;
    margin-left: -20px;
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

.frame {
    background-image: url(../assets/frame-desktop.png);
    background-repeat: no-repeat;
    padding-top: 30px;
    height: 300px;       
    width: 100%;
    margin: auto;
    background-position: center;
}

.header-text {
    margin-top: 60px;
    
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-weight: bold;
    font-size: 50pt;
}
.small-knives-container{
    margin: 0 0 0 0;
    text-align: center;
    
}

.small-knives{
    text-align: center;
    margin-bottom: -50px;
    width: 100px;
    height: 120px;
}

.scroll-down{
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    margin-top: 150px;
}
.arrow-icon{
    text-align: center;
    margin-top: 20px;
    height: 80px
}
.arrow-icon-container{
    text-align: center;
}

/* ABOUT US SECTION */

.yellow-container{
    background-image: url(../assets/yelllow.png);
    height: 800px;
    width: 100%;
}

.about-text-container{
    text-align: center;
    margin: auto;    
    background-repeat: no-repeat;
    width: 100%;
    height: 291px;
}
.about-header{
    padding-top: 70px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    color: #fff;
    font-size: 36pt;
}
.about-text{
    padding-top: 70px;
    font-family: 'Josefin Slab', serif;   
    color: #fff;
    font-size: 20pt;
}




/* Landing Area */

/* media queries */

@media all and (max-width: 480px) {
    .logo {
        display: none;
    }
    .nav-background {
        display: none;
    }
    nav {
        display: none;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        display: none;
    }
    nav ul li img {
        display: none;
    }
    .frame {
        background-image: url(../assets/frame.png);
        background-repeat: no-repeat;
        background-size: contain;  
        margin: auto;
        width: 100%;
        background-position: center;
    }
    .landing-background {
        background-image: url(../assets/main.jpg);        
        height: 800px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
    }
    .header-text {
        padding-top: 60px;    
        font-family: 'Josefin Slab', serif;
        color: #fff;
        font-weight: bold;
        font-size: 20pt;
    }
    .small-knives{
        text-align: center;
        margin-bottom: -130px;
        width: 40px;
        height: 80px;
    }
    
    .about-text{
        padding-top: 70px;
        font-family: 'Josefin Slab', serif;   
        color: #fff;
        font-size: 12pt;
    }
}

@media all and (min-width: 768px) {
    .topnav {
        display: none;
    }
    .topnav #myLinks {
        display: none;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        display: none;
    }
    .topnav a:hover {
        display: none;
    }
    .active {
        display: none;
    }
    .icon {
        display: none;
    }
    .mobile-logo {
        display: none;
    }
}

@media all and (min-width: 992px) {
    .topnav {
        display: none;
    }
    .topnav #myLinks {
        display: none;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        display: none;
    }
    .topnav a:hover {
        display: none;
    }
    .active {
        display: none;
    }
    .icon {
        display: none;
    }
    .mobile-logo {
        display: none;
    }
}